{% load static from staticfiles %}
<style>
    @font-face {
        font-family: 'FrutigerLTArabic';
        src: url('https://ggez.sgp1.cdn.digitaloceanspaces.com/gb-sa-902-ska(d%5E!$a$k283/css/FrutigerLTArabic.ttf');
    }

    @font-face {
        font-family: 'FrutigerLTArabic';
        src: url('https://ggez.sgp1.cdn.digitaloceanspaces.com/gb-sa-902-ska(d%5E!$a$k283/css/FrutigerLTArabic-65Bold.ttf');
        font-weight: bold;
    }

    * {
        font-size: 100%;
        font-family: FrutigerLTArabic!important;
    }

</style>
