// Bootstrap brand color customization

/*     brand Colors              */

$brand-primary:              #84754E !default;
$brand-info:                 #772b90 !default;
$brand-success:              #20c4f4 !default;
$brand-warning:              $orange-500 !default;
$brand-danger:               #ed1e25 !default;
$brand-rose:                 #c83493 !default;
$brand-inverse:              #ecd418 !default;
